<div class="top-menu">
  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>
<h1>input properties</h1>
<app-custom
  [value]=data
  [label]="systemVolume"
  [widthPx]=50>
</app-custom>
<div class="courses">
  @for (
    course of courses;
    track course.id;
    let index = $index;
    let count = $count;
    let first = $first;
    let last = $last;
    let even = $even;
    let odd = $odd
  ) {
    <h1>Number of Courses: {{count}}</h1>
    <app-card
      [styles]="{first, last, even, odd}"
      [index]="index"
      [course]="course"
      (click)="onCourseButtonBubble2()"
      (onCourseButtonClicked)="onCourseButtonClicked($event)"
    />
  } @empty {
    <h1>Courses not found</h1>
  }
</div>

<ng-template #container></ng-template>
